In [1]:
#Will use dependencies
#Pandas to read our CSV file and create the locations and measurements from the DataFrame
#gmaps and the API key to create heatmaps and the locations map
#The requests dependency to make a request to the Google Places JSON file to get the latitude and longitude of the city.
#To use gmaps the data for any mapping must be either integer or floating-point decimal number.

In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atasu,KZ,2022-07-10 19:09:48,48.6814,71.6433,64.22,67,77,11.65
1,1,Thompson,CA,2022-07-10 19:09:48,55.7435,-97.8558,84.36,26,100,6.60
2,2,Avarua,CK,2022-07-10 19:09:49,-21.2078,-159.7750,73.45,53,40,5.75
3,3,Airai,TL,2022-07-10 19:09:49,-8.9266,125.4092,55.24,91,67,3.53
4,4,New Norfolk,AU,2022-07-10 19:09:49,-42.7826,147.0587,47.70,77,100,3.13

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.  ADDED AFTER CODE BELOW -> GOOGLE HEATMAPS CAN'T PLOT NEGATIVE NUMBERS
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
#locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
#max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
# original      fig = gmaps.figure()
#The geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E)

#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#1ST code  heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#2nd chg heat_layer = gmaps.heatmap_layer(locations, weights=temps)

#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
#fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
#fig

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.  Modular 6.5.3
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
#dropna() ##################
#preferred_cities_df.dropna(0)

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Thompson,CA,2022-07-10 19:09:48,55.7435,-97.8558,84.36,26,100,6.60
10,10,Kapaa,US,2022-07-10 19:09:52,22.0752,-159.3190,82.72,78,75,18.41
11,11,Marsh Harbour,BS,2022-07-10 19:05:30,26.5412,-77.0636,84.47,70,24,7.96
13,13,Dubti,ET,2022-07-10 19:09:53,11.7361,41.0853,80.35,66,100,21.05
14,14,Shetpe,KZ,2022-07-10 19:09:53,44.1667,52.1167,85.93,15,0,8.46
19,19,Humaita,BR,2022-07-10 19:09:55,-7.5061,-63.0208,88.09,50,93,2.19
20,20,Albany,US,2022-07-10 19:09:55,42.6001,-73.9662,82.58,35,98,3.74
24,24,Benjamin Constant,BR,2022-07-10 19:09:56,-4.3831,-70.0311,80.73,78,40,4.61
25,25,Jamestown,US,2022-07-10 19:09:57,42.0970,-79.2353,82.06,31,0,4.00
28,28,Avera,US,2022-07-10 19:09:58,33.1940,-82.5271,87.55,47,79,6.04

In [27]:
#Determine if there are any null values.
preferred_cities_df.count()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1            Thompson      CA     84.36  55.7435  -97.8558
10              Kapaa      US     82.72  22.0752 -159.3190
11      Marsh Harbour      BS     84.47  26.5412  -77.0636
13              Dubti      ET     80.35  11.7361   41.0853
14             Shetpe      KZ     85.93  44.1667   52.1167
19            Humaita      BR     88.09  -7.5061  -63.0208
20             Albany      US     82.58  42.6001  -73.9662
24  Benjamin Constant      BR     80.73  -4.3831  -70.0311
25          Jamestown      US     82.06  42.0970  -79.2353
28              Avera      US     87.55  33.1940  -82.5271

In [47]:
# base url for google places api  CAN ADDD parameters as a dictrionary of strings use params
#https://maps.googleapis.com/maps/api/place/nearbysearch/json
# payload = {'key1':'value1','key2':'valude2'}
# r=requests.get('https://httpbin.org/get',params=payload)

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "11.7361, 41.0853"}
 
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:   
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [49]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Thompson,CA,84.36,55.7435,-97.8558,Burntwood Hotel
10,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Marsh Harbour,BS,84.47,26.5412,-77.0636,Abaco Beach Resort
13,Dubti,ET,80.35,11.7361,41.0853,degu Shiferaw
14,Shetpe,KZ,85.93,44.1667,52.1167,Rtsm Shetpe Analog
...,...,...,...,...,...,...
564,Palauig,PH,80.85,15.4350,119.9045,Villa Raphael Resort
567,Oistins,BB,86.09,13.0667,-59.5333,Butterfly Beach Hotel
569,Rocha,UY,76.33,-34.4833,-54.3333,Hotel Arrarte
573,Port Moresby,PG,76.42,-9.4431,147.1797,Lamana Hotel (Port Moresby)
575,Kudahuvadhoo,MV,82.33,2.6708,72.8944,Niyama Private Islands Maldives

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))